* {
	padding: 0;
	margin:0;
	font-family:'Montserrat', sans-serif;
}
header {
	height:66px;
	width: 100%;
	position: fixed;
	background-color:rgba(239, 243, 245 );
	top: 0;
	z-index: 10;
}
header:hover{
	background-color:rgba(206, 220, 227, );
}
header h1{
	display: inline-block;
	float:left;
	padding:15px 24px;
	text-transform: capitalize;
	font-size:23px;
	text-align:middle;
}
header h1 a:hover{
	-webkit-animation:rainbow 1s infinite;
	-ms-animation:rainbow 1s infinite;
	-o-animation:rainbow 1s infinite;
	animation:rainbow 1s infinite;
	}
	@-webkit-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
	}
	@-ms-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
	}
	@-o-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
	}
	@keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
header ul {
	float:right;

}
header ul li {
	padding:25px;
	display: inline-block;
}
header ul li a:hover {
	color: #FF322D;
}
a {
	text-decoration: none;
	color:#333;
}
.container {
	width: 90%;
	margin: 0 auto;
}

.container::after{
	content: '';
	display: block;
	clear: both;
}
.mobile-menu{
	float:right;
	display:none;
	padding:18px;
}
.mobile-menu:hover{
	cursor:pointer;
}

#check{
	display:none;
}
.sidebar{
	position:fixed;
	top:0;
	bottom:0;
	left:-300px;
	width:300px;
	transition:.4s;
	background-color:rgba(40, 93, 180, .7);
	z-index:9999;
}
.sidebar ul li a{
	color:#fff;
}
.sidebar ul li{
	padding:24px;
	transition: .4s;
	transition-property: background-color;
}
.sidebar ul li:hover{
	background-color:#F84744;
}
#check:checked ~ .sidebar {
	left:0;
}

i:hover {
	color:red;
}


.banner{
	background-image: url('../img/banner.jpg');
	z-index:5;
	background-size:cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:150px 0;
}
section{
	padding:50px 0;
}
/*padding h3 materi */
.padding h3{
	padding:10px 0;
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position:relative;
}
.padding h3::before{
	content:'';
	display:block;
	position:absolute;
	bottom:0;
	width:120px;
	height:1px;
	background-color:#ddd;
	left: calc(50% - 60px);
}
.padding h3::after{
	content:'';
	display:block;
	position:absolute;
	bottom:-1px;
	width:40px;
	height:4px;
	background-color:#F84744;
	left: calc(50% - 20px);
}
.banner img{
	width:100px;
	border-radius:10px;
	box-shadow:0 3px 5px #ddd;
	background-attachment: fixed;
	position:relative;
	z-index:999;
	top:0px;
	margin-bottom:10px;

}
.banner:after {
	content:'';
	display:block;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(103, 193, 255, .1);
}

.banner-kiri{
	padding-left:24px;
}
.banner h2{
	color:white;
	font-size:20px;
	margin-bottom: 10px;
	
}
.banner p{
	position:absolute;
	z-index: 2px;
	font-size:25px;
	color:#fff;
}

.banner span{
	color:ghostwhite;
	font-size:22px;
}
section h3{
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position:relative;
}
section h3::before {
	content:'';
	display:block;
	position:absolute;
	bottom:0;
	width:120px;
	height:1px;
	background-color:#ddd;
	left: calc(50% - 60px);
}

section h3::after {
	content:'';
	display:block;
	position:absolute;
	bottom:-1px;
	width:40px;
	height:4px;
	background-color:#F84744;
	left: calc(50% - 20px);
}
.border{
	border: 1px solid Montserrat;
	padding: 10px 20px;
	margin-bottom: 13px;
}
.border h4{
	background-color:#E74C3C;
	color:white;
	text-align:center;
	padding:10px;
	margin-bottom:13px;
}

.border img{
	display:block;
	width:100px;
	margin-bottom:15px;
	margin-left: auto ;
	margin-right: auto;
}
.border p{
	margin-bottom:10px;
	text-align: justify;
  	text-justify: inter-word;

}
/*services */
.services {
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(333px, 1fr));

}

.service {
	background-color:ghostwhite;
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(333px, 1fr));

}
.selengkapnya-button{
	display: block;
	text-decoration: none;
	padding: 10px;
	width: 120px;
	color: white;
	border-radius: 5px;
	text-align: center;
	background-color:#48C9B0;
}
.selengkapnya-button:hover{
	background-color: black;
	transition-duration: .9s;
}

html{
	scroll-behavior:smooth;
}

footer{
	clear: both;
	background-color: #333;
	color: white;
	padding: 15px;
	text-align: center;
}

footer small {
	color:#fff;
}

.content ul{
	list-style-type:none;
}
.content ul li a{
	text-decoration:none;
	display:block;
	padding:13px;
	border-bottom:1px solid Monserrat;
	margin-bottom:12px;
	color:black;
}
.content ul li:hover{
	color:#F5B7B1;
	background-color:#E74C3C;
}
/*Query Mobile*/
@media screen and(max-width: 768px) {
	.mobile-menu{
		display: block;

	}
	header ul {
		display:none;
	}
}

/*Qeury Tablet*/
@media screen and (max-width: 1000px) {
	.mobile-menu{
		display:block;
	}
	header ul{
		display:none;
	}
}

@media screen and (max-width: 1080px){
	.mobile-menu{
		display:block;
	}
	header ul{
		display:none;
	}
}


/*aboutme */
.aboutme p{
	color: #666
	word-spacing:2px;
	line-height: 25px;
	text-align: justify;
	margin:20px;
}
.aboutme img {
	display: block;
	margin-left: auto ;
	margin-right: auto;
}
/*contact*/
.col-3 {
	width:33,33%;
	box-sizing:border-box;
	text-align:center;
	padding:50px 10px;
	float:center;
}
.col-3 h4{
	padding:10px ;
	border-bottom:1px solid #ddd;
	margin-bottom:15px;
}
/*materi*/
.container h4{
	padding:20px ;
	margin-top:30px;
	border-bottom:1px solid #ddd;
	margin-bottom:15px;
	text-align:center;
	font-size:20px;
}
.border b {
	font-size:20px;
}
/*materi p*/
.main{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.main p  {
	margin-bottom:10px;
	text-align: justify;
  	text-justify: inter-word;
  	line-height:1.5;
}
.main ul li{
	margin-bottom:10px;
	text-align: justify;
  	text-justify: inter-word;
  	line-height:1.5;
}
.main ol {
	margin-bottom:10px;
	text-align: justify;
  	text-justify: inter-word;
  	line-height:1.5;
}
.main img{
	display:block;
	width:150px;
	margin-bottom:15px;
	margin-left: auto ;
	margin-right: auto;
	margin-top:10px;
}
.main b{
	font-size:20px;
}
.main1{
	margin-top:15px;
	margin-bottom:15px;
}
.main1 img{
	display:block;
	width:150px;
	margin-bottom:15px;
}